*
  margin: 0
  padding: 0
  
html
  font-family: Arial, Helvetica, sans-serif
  overflow-x: hidden 

ui-view
  width: 100%

#stock-add
  position: relative
  min-height: 100px
  padding: 12px
  border: 2px lightblue solid
  border-left: 6px lightblue solid
  #container
    position: relative
    margin-top: 24px
    line-height: 8px
    #field, #add
      font-size: 20px
      padding: 5px
      margin: 0
      border-radius: 8px
    #field
      border: 2px lightgrey solid
    #add
      border: none
    #description
      font-weight: bold
      
      
.stock-item
  position: relative
  border: 2px grey solid
  border-left: 6px grey solid
  padding: 12px
  min-height: 100px
  h1
    margin-top: 8px
  #remove
    position: absolute
    right: 14px
  #remove:hover
    color: lightblue
    cursor: pointer
.stock-item:hover
    border-color: lightcoral
    

@media (min-width: 600px)
  #stock-add
    text-align: center
    width: 400px
    margin: 0 auto
    margin-top: 10px
  #stock-items
    display: block
    margin: 0px auto
    margin-top: 12px
    width: 80vw
  .stock-item
    text-align: left
    vertical-align: top
    display: inline-block
    width: 28%
    margin-top: 4px
